:root {
  --soft-red:                  hsl(7, 99%, 70%);
  --yellow:                    hsl(51, 100%, 49%);
    
    /* (graphic design text) */
  --dark-desaturated-cyan:     hsl(167, 40%, 24%);

    /* (photography text) */
  --dark-blue:                 hsl(198, 62%, 26%);
    
    /*  (footer) */
  --dark-moderate-cyan:        hsl(168, 34%, 41%);
  --very-dark-desaturated-blue:hsl(212, 27%, 19%);
  --very-dark-grayish-blue:    hsl(213, 9%, 39%);
  --dark-grayish-blue:         hsl(232, 10%, 55%);
  --grayish-blue:              hsl(210, 4%, 67%);
  --white:                     hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.125rem;
}

body,
button {
  font-family: 'Barlow', sans-serif;
}

h1,
h2,
h3,
.btn-more {
  font-family: 'Fraunces', serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}