header {
  background-image: url(../images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:bottom;
  padding: 32px 22px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.hamburger {
  height: 32px;
  width: 32px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  opacity: .8;
  transition: opacity .3s;
}

.hamburger:hover {
  opacity: 1;
}

.menu-wrap {
  position: absolute;
  top: -1000px;
  width: 100%;
  opacity: 0;
  background-color: var(--white);
  transition: all .6s cubic-bezier(0.4, 0.6, 0.4, 1.2);
}

.menu-wrap.open { 
  top: 80px;
  opacity: 1;
}

.menu-wrap::before {
  content: '';
  position: absolute;
  right: 0;
  top: -29px;
  width: 30px;
  height: 30px;
  background-color: var(--white);	
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.menu-item a {
  display: inline-block;
  text-align: center;
  color: var(--dark-blue);
  height: 56px;
  width: 140px;
  line-height: 56px;
  border-radius: 28px;
}

.menu-item a.active {
  font-family: 'Fraunces', serif;
  font-size: 1rem;
  background-color: var(--yellow);
  color: var(--dark-desaturated-cyan);
  text-transform: uppercase;
}

h1 {
  color: var(--white);
  letter-spacing: 8px;
  font-size: 42px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-top: 96px;
}

.arrow-down {
  margin: 0 auto;
  margin-top: 56px;
  margin-bottom: 140px;
}

/* ABOUT */

.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr auto 1200px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 62px 22px;
}

article .sub-title {
  color: var(--very-dark-desaturated-blue);
  font-size: 2rem;
  padding: 0 1rem;
}

article .description {
  color: var(--dark-grayish-blue);
  margin-top: 2rem;
}

article .btn-more {
  position: relative;
  margin-top: 2rem;
  text-transform: uppercase;
  color: var(--very-dark-desaturated-blue);
}

article .btn-more::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  height: 10px;
  width: 130px;
  border-radius: 5px;
  transform: translate(-50%);
  z-index: -1;
  opacity: .4;
  transition: opacity 0.3s;
}

article .btn-more.red::after {
  background-color: var(--soft-red);
}

article .btn-more.yellow::after {
  background-color: var(--yellow);
}

article .btn-more:hover::after {
  opacity: 1;
}

/* IMAGES AND FIGURES */
.image-transform {
  background: url(../images/mobile/image-transform.jpg) center center no-repeat;
}

.image-stand-out {
  background: url(../images/mobile/image-stand-out.jpg) center center no-repeat;
}

.image-transform,
.image-stand-out {
  background-size: cover;
  min-height: 312px;
}

.image-graphic-design {
  background: url(../images/mobile/image-graphic-design.jpg) center center no-repeat;
}

.image-photograph {
  background: url(../images/mobile/image-photography.jpg) center center no-repeat;
}

.image-graphic-design,
.image-photograph {
  height: 100%;
  background-position: top;
  background-size: cover;
}

/* Examples */
.example-list {
  display: flex;
  flex-direction: column;
}

.example-list .item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px;
  text-align: center;
}

.example-list .item-list:first-of-type {
  color: var(--dark-desaturated-cyan);
}

.example-list .item-list:last-of-type {
  color: var(--dark-blue);
}

.item-list h3 {
  margin-top: auto;
  font-size: 2rem;
}

.item-list p {
  margin: 36px 0 40px;
  line-height: 1.8rem;
}

/* Clients Testimonials */
.testimonial {
  padding: 68px 22px;
  text-align: center;
}

.testimonial h2 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 0.325rem;
  color: var(--grayish-blue);
}

.person {
  margin-top: 68px;
}

.person figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person figure img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.person figcaption p {
  color: var(--very-dark-grayish-blue);
  line-height: 1.8rem;
  margin: 40px 0;
}

.person figcaption strong {
  color: var(--very-dark-desaturated-blue);
  display: block;
  margin-bottom: 16px;
}

.person figcaption small {
  color: var(--grayish-blue);
}

/* Photo Gallery */
.gallery ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 25vh 25vh;
}

/* Images */
.image-milkbottles {
  background: url(../images/mobile/image-gallery-milkbottles.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
}

.image-orange {
  background: url(../images/mobile/image-gallery-orange.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
}

.image-cone {
  background: url(../images/mobile/image-gallery-cone.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
}

.image-sugar {
  background: url(../images/mobile/image-gallery-sugar-cubes.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
}

/* Footer */
footer {
  background-color: var(--dark-moderate-cyan);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
  padding: 38px;
}

footer nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer nav .logo {
  width: 170px;
}

footer nav ul {
  margin-top: 46px;
  display: flex;
  align-items: center;
  gap: 58px;
}

footer nav a {
  color: rgb(69, 140, 126);
  transition: color 0.3s;
}

footer nav a:hover {
  color: var(--white);
}

.social {
  margin-top: 90px;
  display: flex;
  align-items: center;
  gap: 28px;
}

.social .icon {
  transition: filter .3s;
}

.social a:hover .icon {
  filter: brightness(1%) invert();
}